.container {
  background-color: @c-c-4;
  .flex(center,center,center);
  min-width: 500px;
height: 100%;
}
img{
display: block;
margin: 2% auto;
}
  .hdr-mn {
    .mn-hdr {
      margin-top: 10px;
      text-align: center;
      font-family: @ft1;
    }}


.menu{
  display:none;
  // font-size: 3rem;
  // text-align:center;
  // margin: 0 50% 0 45%;

}
.menu--open{
  // display:none;
  font-size:5rem;
  text-align:center;
}
.menu-button{
  // display:none;
  cursor:pointer;
}
nav{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:100%;
  button{
    height: 7%;
    width: 80%;
    background-color: @c-c-0;
    border-radius: 4px;
    color: @c-c-4;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 2% auto;

  }

}
@media @tab{
  .container{
    background-color: @c-c-4;
    nav a{
      background-color: @c-c-1;
      color: @c-c-3;
      font-size: 2.8rem;
    }
  }
}
.menu{
  //display:none;
  // font-size: 3rem;
  // text-align:center;
  // margin: 0 50% 0 45%;

}
.menu--open{
  // display:none;
  font-size:5rem;
  text-align:center;
}
.menu-button{
  // display:none;
  cursor:pointer;
}




@media @desk {
  .container {

    .fa-bars {
      display: none;
    }

    .menu {
      display: flex;
    }

 header   nav{
   display:flex;
   flex-direction:row;
   justify-content:center;
   width:100%;
   button{
     height: 70%;
     width: 100%;
     background-color: @c-c-0;
     border-radius: 4px;
     color: @c-c-4;
     font-size: 2.3rem;
     font-weight: bold;
     margin: 1.5% 5%;

   }
    }
  }}