@ft1: 'Anton', sans-serif;
@ft2: 'Abel', sans-serif;
@ft3: 'Asap', sans-serif;
@ft4: 'Questrial', sans-serif;
@ft5: 'Noto Sans TC', sans-serif;

@c-c-0: #617BC9;	/* Main Complement color */
@c-c-1: #67D493;
@c-c-2: #3EC173;
@c-c-3: #049D42;
@c-c-4: #007B32;